In [30]:
from pymarketng.application.Mechanism import *
from pymarketng.application.BidManager import BidManager
from pymarketng.application.Plot import *
from pymarketng.application.Statistics import *


from pymarketng.domain.Bid import Bid
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [31]:
# 1 Round of auction dataframe
n = 4
data = {
    "user": np.random.randint(1, 21, n),
    "type": np.random.randint(1, 4, n),
    "unit": np.random.randint(1, 100, n),
    "price": np.random.randint(0, 200, n),
    "buying": np.random.choice([True, False], n) ,
    "time": sorted([
        datetime.datetime(
            2022,
            np.random.randint(1, 13),
            np.random.randint(1, 28),
            np.random.randint(0, 24),
            np.random.randint(0, 60),
            np.random.randint(0, 60),
        )
        for _ in range(n)
    ]),
}
df = pd.DataFrame(data)

In [32]:
bm = BidManager()

# create bids from df
for index, row in df.iterrows():
    bm.add_bid(Bid(row["price"],row["user"],row["unit"],row["buying"],row["time"]))

bids= bm.get_df()
bids

,user,buying,price,quantity,remaining_quantity,time,divisible
0,17,True,3,7,7,2022-07-18 00:04:31,True
1,7,True,101,8,8,2022-08-18 10:37:32,True
2,4,True,41,67,67,2022-09-15 16:35:49,True
3,6,False,44,70,70,2022-01-04 00:06:47,True

In [33]:
bm.um.get_df()

,name,id,total_bid,total_quantity,bids,transactions,profit_per_unit,total_profit,participations,score
0,,17,12496.0,118.0,"[80 * 53, 6 * 193, 51 * 185, 7 * 3]",[],0.0,0.0,0,0
1,,4,-8524.0,2.0,"[76 * 109, 53 * 23, 92 * 14, 67 * 41]",[],0.0,0.0,0,0
2,,6,-5011.0,-17.0,"[87 * 93, 70 * 44]",[],0.0,0.0,0,0
3,,7,-808.0,-8.0,[8 * 101],[],0.0,0.0,0,0

In [34]:
bm_new,tm=bm.run(Average_Mechanism_Multi)
tm.get_df()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/45060d261f264fbdab7d65faf69ef24a-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /tmp/45060d261f264fbdab7d65faf69ef24a-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 9 COLUMNS
At line 19 RHS
At line 24 BOUNDS
At line 25 ENDATA
Problem MODEL has 4 rows, 3 columns and 6 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-4) rows, 0 (-3) columns and 0 (-6) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value 456
After Postsolve, objective 456, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 456 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

('Optimal', 456.0, OrderedDict([((0, 3), 8.0), ((1, 3), 0.0), ((2, 3), 0.0)]))
Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/b58357edb3f24817baecfb3dc1bc49e7-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /tmp/b58357edb3f24817baecfb3dc1bc49e7-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 9 COLUMNS
At line 19 RHS
At line 24 BOUNDS
At line 25 ENDATA
Problem MODEL has 4 rows, 3 columns and 6 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-4) rows, 0 (-3) columns and 0 (-6) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value 456
After Postsolve, objective 456, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 456 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/8cc0921635b54d24b37ae7818f0c81af-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /tmp/8cc0921635b54d24b37ae7818f0c81af-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 9 COLUMNS
At line 19 RHS
At line 24 BOUNDS
At line 25 ENDATA
Problem MODEL has 4 rows, 3 columns and 6 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-4) rows, 0 (-3) columns and 0 (-6) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value 70
After Postsolve, objective 70, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 70 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

/home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/pulp.py:1316: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")
/home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/pulp.py:1316: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")
/home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/pulp.py:1316: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

,mechanism.buy_price,mechanism.sell_price,mechanism.quantity,buyer.id,buyer.price,buyer.quantity,buyer.remaining_quantity,seller.id,seller.price,seller.quantity,seller.remaining_quantity
0,72.5,72.5,8,7,101,8,0,6,44,70,62

In [35]:
bm_new.get_df()

,user,buying,price,quantity,remaining_quantity,time,divisible
0,4,True,41,67,67,2022-09-15 16:35:49,True
1,17,True,3,7,7,2022-07-18 00:04:31,True
2,6,False,44,70,62,2022-01-04 00:06:47,True

In [36]:
bm_new.um.get_df()

,name,id,total_bid,total_quantity,bids,transactions,profit_per_unit,total_profit,participations,score
0,,17,12496.0,118.0,"[80 * 53, 6 * 193, 51 * 185, 7 * 3]",[],0.0,0.0,1,0
1,,4,-8524.0,2.0,"[76 * 109, 53 * 23, 92 * 14, 67 * 41]",[],0.0,0.0,1,0
2,,6,-5011.0,-17.0,"[87 * 93, 70 * 44]","[(7, 72.5)<(8)>(6, 72.5)]",28.5,228.0,1,0
3,,7,-808.0,-8.0,[8 * 101],"[(7, 72.5)<(8)>(6, 72.5)]",28.5,228.0,1,0

In [37]:
tm.get_stats()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/4ec0d1c0266244a8932847e99497aa13-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /tmp/4ec0d1c0266244a8932847e99497aa13-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 8 COLUMNS
At line 15 RHS
At line 19 BOUNDS
At line 20 ENDATA
Problem MODEL has 3 rows, 2 columns and 4 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-3) rows, 0 (-2) columns and 0 (-4) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value -0
After Postsolve, objective 0, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 0 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

('Optimal', 0.0, OrderedDict([((0, 2), 0.0), ((1, 2), 0.0)]))
Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/883fcf40c13d4ba3bfd9a543aff6ac53-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /tmp/883fcf40c13d4ba3bfd9a543aff6ac53-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 8 COLUMNS
At line 15 RHS
At line 19 BOUNDS
At line 20 ENDATA
Problem MODEL has 3 rows, 2 columns and 4 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-3) rows, 0 (-2) columns and 0 (-4) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value -0
After Postsolve, objective 0, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 0 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/3aedb729b7b54921b83137cf0907d95b-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /tmp/3aedb729b7b54921b83137cf0907d95b-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 8 COLUMNS
At line 15 RHS
At line 19 BOUNDS
At line 20 ENDATA
Problem MODEL has 3 rows, 2 columns and 4 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-3) rows, 0 (-2) columns and 0 (-4) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value 70
After Postsolve, objective 70, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 70 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

/home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/pulp.py:1316: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")
/home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/pulp.py:1316: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")
/home/erfoo/books/papers/p2p-energy-trading/mine/.venv/lib/python3.11/site-packages/pulp/pulp.py:1316: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

{'players_total_trade_profit': 456.0,
 'players_total_trade_quantity': 4.0,
 'auctioneer_profit': 0.0,
 'maximum_aggregated_utility': 0.0,
 'maximum_traded_volume': 70.0,
 'percentage_traded': 0.05714285714285714,
 'percentage_welfare': 1.0}