In [148]:
from pymarketng.application.Mechanism import *
from pymarketng.application.BidManager import BidManager
from pymarketng.application.Plot import plot_demand_curves, plot_trades_as_graph

from pymarketng.domain.Bid import Bid
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [149]:
# 1 Round of auction dataframe
n = 4
data = {
    "user": np.random.randint(1, 21, n),
    "type": np.random.randint(1, 4, n),
    "unit": np.random.randint(1, 100, n),
    "price": np.random.randint(0, 200, n),
    "buying": np.random.choice([True, False], n) ,
    "time": sorted([
        datetime.datetime(
            2022,
            np.random.randint(1, 13),
            np.random.randint(1, 28),
            np.random.randint(0, 24),
            np.random.randint(0, 60),
            np.random.randint(0, 60),
        )
        for _ in range(n)
    ]),
}
df = pd.DataFrame(data)
df

   user  type  unit  price  buying                time
0    13     2     3    193    True 2022-05-27 13:50:37
1     5     3    71    198    True 2022-09-15 15:46:14
2    12     1    93     38   False 2022-11-22 04:45:34
3     2     3     6     87   False 2022-12-04 18:19:32

In [150]:
bm = BidManager()

# create bids from df
for index, row in df.iterrows():
    bm.add_bid(Bid(row["price"],row["user"],row["unit"],row["buying"],row["time"]))

bm.get_df()

,user,buying,price,quantity,remaining_quantity,time,divisible
0,0x7f33b43e80b0,True,193,3,3,2022-05-27 13:50:37,True
1,0x7f33b43eb170,True,198,71,71,2022-09-15 15:46:14,True
2,0x7f33b421d4f0,False,38,93,93,2022-11-22 04:45:34,True
3,0x7f33b421ca10,False,87,6,6,2022-12-04 18:19:32,True

In [151]:
bm.um.get_df()

,name,id,total_bid,total_quantity,bids,transactions,profit_per_unit,total_profit,participations,score,addr
0,,5,-5677.0,-22.0,"[57 * 134, 31 * 101, 48 * 73, 9 * 124, 71 * 198]",[],0.0,0.0,0,0,0x7f33b43eb170
1,,2,-32774.0,-365.0,"[40 * 75, 43 * 24, 54 * 26, 99 * 115, 74 * 42,...",[],0.0,0.0,0,0,0x7f33b421ca10
2,,12,1537.0,33.0,"[17 * 178, 35 * 44, 97 * 46, 89 * 79, 93 * 38]",[],0.0,0.0,0,0,0x7f33b421d4f0
3,,13,8782.0,162.0,"[19 * 6, 83 * 90, 43 * 147, 76 * 150, 99 * 29,...",[],0.0,0.0,0,0,0x7f33b43e80b0

In [152]:
bm_new,tm=bm.run(Average_Mechanism_Multi)
tm.get_df()

,mechanism.buy_price,mechanism.sell_price,mechanism.quantity,buyer.id,buyer.price,buyer.quantity,buyer.remaining_quantity,seller.id,seller.price,seller.quantity,seller.remaining_quantity
0,140.0,140.0,71,0x7f33b4145130,198,71,0,0x7f33b4145700,38,93,19
1,140.0,140.0,3,0x7f33b4144350,193,3,0,0x7f33b4145700,38,93,19

In [153]:
bm_new.get_df()

,user,buying,price,quantity,remaining_quantity,time,divisible
0,0x7f33b4145700,False,38,93,19,2022-11-22 04:45:34,True
1,0x7f33b4145850,False,87,6,6,2022-12-04 18:19:32,True

In [154]:
bm_new.um.get_df()

,name,id,total_bid,total_quantity,bids,transactions,profit_per_unit,total_profit,participations,score,addr
0,,2,-32774.0,-365.0,"[40 * 75, 43 * 24, 54 * 26, 99 * 115, 74 * 42,...",[],0.0,0.0,1,0,0x7f33b4145850
1,,13,8782.0,162.0,"[19 * 6, 83 * 90, 43 * 147, 76 * 150, 99 * 29,...","[(13, 140.0)<(3)>(12, 140.0)]",53.0,159.0,1,0,0x7f33b4144350
2,,12,1537.0,33.0,"[17 * 178, 35 * 44, 97 * 46, 89 * 79, 93 * 38]","[(5, 140.0)<(71)>(12, 140.0), (13, 140.0)<(3)>...",204.0,7548.0,1,0,0x7f33b4145700
3,,5,-5677.0,-22.0,"[57 * 134, 31 * 101, 48 * 73, 9 * 124, 71 * 198]","[(5, 140.0)<(71)>(12, 140.0)]",58.0,4118.0,1,0,0x7f33b4145130